p.navitem1{
  float: left;
  padding-left: 200px;
  padding-top: 45px;
  text-align: left;
  color: black;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  margin: 0;
}

a.backindex{
  text-decoration: none;
  color: black;
}

p.navitem2{
  float: right;
  padding-right: 200px;
  padding-top: 45px;
  text-align: right;
  color: #999999;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  margin: 0;
}

img.project1image{
  width:1700px;
  height:4200px;
  margin-top: 0px;
}
